In [2]:
import unicodedata
import numpy as np

In [3]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [7]:
from IPython.display import display

In [8]:
def is_valid_unicode(character):
    try:
        unicodedata.name(character)
        return True
    except ValueError:
        return False

# All Kannada Letters

In [9]:
kannada_letters = [chr(codepoint) for codepoint in range(0x0C80, 0x0CFF + 1) if is_valid_unicode(chr(codepoint))]
print(kannada_letters)

['ಀ', 'ಁ', 'ಂ', 'ಃ', '಄', 'ಅ', 'ಆ', 'ಇ', 'ಈ', 'ಉ', 'ಊ', 'ಋ', 'ಌ', 'ಎ', 'ಏ', 'ಐ', 'ಒ', 'ಓ', 'ಔ', 'ಕ', 'ಖ', 'ಗ', 'ಘ', 'ಙ', 'ಚ', 'ಛ', 'ಜ', 'ಝ', 'ಞ', 'ಟ', 'ಠ', 'ಡ', 'ಢ', 'ಣ', 'ತ', 'ಥ', 'ದ', 'ಧ', 'ನ', 'ಪ', 'ಫ', 'ಬ', 'ಭ', 'ಮ', 'ಯ', 'ರ', 'ಱ', 'ಲ', 'ಳ', 'ವ', 'ಶ', 'ಷ', 'ಸ', 'ಹ', '಼', 'ಽ', 'ಾ', 'ಿ', 'ೀ', 'ು', 'ೂ', 'ೃ', 'ೄ', 'ೆ', 'ೇ', 'ೈ', 'ೊ', 'ೋ', 'ೌ', '್', 'ೕ', 'ೖ', 'ೝ', 'ೞ', 'ೠ', 'ೡ', 'ೢ', 'ೣ', '೦', '೧', '೨', '೩', '೪', '೫', '೬', '೭', '೮', '೯', 'ೱ', 'ೲ']

In [10]:
for codepoint in kannada_letters:
    print(codepoint, unicodedata.name(codepoint))

ಀ KANNADA SIGN SPACING CANDRABINDU
ಁ KANNADA SIGN CANDRABINDU
ಂ KANNADA SIGN ANUSVARA
ಃ KANNADA SIGN VISARGA
಄ KANNADA SIGN SIDDHAM
ಅ KANNADA LETTER A
ಆ KANNADA LETTER AA
ಇ KANNADA LETTER I
ಈ KANNADA LETTER II
ಉ KANNADA LETTER U
ಊ KANNADA LETTER UU
ಋ KANNADA LETTER VOCALIC R
ಌ KANNADA LETTER VOCALIC L
ಎ KANNADA LETTER E
ಏ KANNADA LETTER EE
ಐ KANNADA LETTER AI
ಒ KANNADA LETTER O
ಓ KANNADA LETTER OO
ಔ KANNADA LETTER AU
ಕ KANNADA LETTER KA
ಖ KANNADA LETTER KHA
ಗ KANNADA LETTER GA
ಘ KANNADA LETTER GHA
ಙ KANNADA LETTER NGA
ಚ KANNADA LETTER CA
ಛ KANNADA LETTER CHA
ಜ KANNADA LETTER JA
ಝ KANNADA LETTER JHA
ಞ KANNADA LETTER NYA
ಟ KANNADA LETTER TTA
ಠ KANNADA LETTER TTHA
ಡ KANNADA LETTER DDA
ಢ KANNADA LETTER DDHA
ಣ KANNADA LETTER NNA
ತ KANNADA LETTER TA
ಥ KANNADA LETTER THA
ದ KANNADA LETTER DA
ಧ KANNADA LETTER DHA
ನ KANNADA LETTER NA
ಪ KANNADA LETTER PA
ಫ KANNADA LETTER PHA
ಬ KANNADA LETTER BA
ಭ KANNADA LETTER BHA
ಮ KANNADA LETTER MA
ಯ KANNADA LETTER YA
ರ KANNADA LETTER RA
ಱ KANNADA LETTER RRA
ಲ KANNADA LETTER LA
ಳ KANNADA LETTER LLA
ವ KANNADA LETTER VA
ಶ KANNADA LETTER SHA
ಷ KANNADA LETTER SSA
ಸ KANNADA LETTER SA
ಹ KANNADA LETTER HA
಼ KANNADA SIGN NUKTA
ಽ KANNADA SIGN AVAGRAHA
ಾ KANNADA VOWEL SIGN AA
ಿ KANNADA VOWEL SIGN I
ೀ KANNADA VOWEL SIGN II
ು KANNADA VOWEL SIGN U
ೂ KANNADA VOWEL SIGN UU
ೃ KANNADA VOWEL SIGN VOCALIC R
ೄ KANNADA VOWEL SIGN VOCALIC RR
ೆ KANNADA VOWEL SIGN E
ೇ KANNADA VOWEL SIGN EE
ೈ KANNADA VOWEL SIGN AI
ೊ KANNADA VOWEL SIGN O
ೋ KANNADA VOWEL SIGN OO
ೌ KANNADA VOWEL SIGN AU
್ KANNADA SIGN VIRAMA
ೕ KANNADA LENGTH MARK
ೖ KANNADA AI LENGTH MARK
ೝ KANNADA LETTER NAKAARA POLLU
ೞ KANNADA LETTER FA
ೠ KANNADA LETTER VOCALIC RR
ೡ KANNADA LETTER VOCALIC LL
ೢ KANNADA VOWEL SIGN VOCALIC L
ೣ KANNADA VOWEL SIGN VOCALIC LL
೦ KANNADA DIGIT ZERO
೧ KANNADA DIGIT ONE
೨ KANNADA DIGIT TWO
೩ KANNADA DIGIT THREE
೪ KANNADA DIGIT FOUR
೫ KANNADA DIGIT FIVE
೬ KANNADA DIGIT SIX
೭ KANNADA DIGIT SEVEN
೮ KANNADA DIGIT EIGHT
೯ KANNADA DIGIT NINE
ೱ KANNADA SIGN JIHVAMULIYA
ೲ KANNADA SIGN UPADHMANIYA

# Unicode Level MED

In [ ]:
def min_edit_distance(s: str, t: str) -> int:
    n = len(s)
    m = len(t)

    prev = [j for j in range(m+1)]
    curr = [0] * (m+1)
    
    table = []
    row_headings    = ['-'] + [st for st in s]
    column_headings = ['-'] + [st for st in t]

    for i in range(1, n+1):
        
        curr[0] = i
        for j in range(1, m+1):
            if s[i-1] == t[j-1]:
                curr[j] = prev[j-1]
            else:
                mn = min(1 + prev[j], 1 + curr[j-1])
                curr[j] = min(mn, 2 + prev[j-1])
        
        table.append(prev)
        prev = curr.copy()
    
    table.append(curr)

    return prev[m], (table, row_headings, column_headings)

In [ ]:
words = [
    'ನಾನು',
    'ನನ್ನಾ',
    'ನಿನಗೆ',
    'ನಿನಗಾ',
    'ನೀನಾ',
    'ನೀನ್ನಾ',
]

In [ ]:
print(words)
for i in words:
    for j in words:
        print(i, j ,min_edit_distance(i, j)[0])

In [ ]:
first = 'ಕನ್ನಡ'
second = 'ಕನ್ನಡಕ'

In [ ]:
FIRST_WORD = words[-1]
SECOND_WORD = words[-2]
FIRST_WORD, SECOND_WORD

In [ ]:
MED, t = min_edit_distance(FIRST_WORD, SECOND_WORD)
MED

In [ ]:
df = pd.DataFrame(t[0], index=t[1], columns=t[2])
df

### One Optimal Path

In [ ]:
def one_path(table):
    path = []

    i, j = len(table)-1, len(table[0])-1
    path.append((i, j))

    while(i!=0 and j!=0):
        values = [
                    table[i-1][j-1],
                    table[i-1][j],
                    table[i][j-1]
                ]
        min_index = values.index(min(values))


        if(min_index == 0):
            i, j = i-1, j-1
        elif(min_index == 1):
            i, j = i-1, j
        else:
            i, j = i, j-1

        path.append((i, j))
#     return path
    return list(reversed(path))
#     return list(reversed(path+ [(0,0)]))

In [ ]:
def yield_characters(string):
    for i in string:
        yield i

In [ ]:
def alignment(string, path):
#     print(path, string)
    iterator = yield_characters(string)
        
    align = []
    
    for i in range(len(path)-1):
        if(path[i]==path[i+1]):
            align.append('*')
        else:
            align.append(next(iterator))
#             print(align)

    return align

In [ ]:
pprint(t[0])

In [ ]:
path = one_path(t[0]) 

first_string_path, second_string_path = zip(*path)
print(first_string_path)

first_align = alignment(FIRST_WORD, first_string_path)
second_align = alignment(SECOND_WORD, second_string_path)

df = pd.DataFrame([first_align, second_align])
df

In [ ]:
for first_word in words:
    for second_word in words:
        MED, t = min_edit_distance(first_word, second_word)
        path = one_path(t[0]) 

        first_string_path, second_string_path = zip(*path)
#         print(first_string_path)

        first_align = alignment(first_word, first_string_path)
        second_align = alignment(second_word, second_string_path)

        df = pd.DataFrame([first_align, second_align])
        display(df)

# Character Level MED

In [ ]:
dheerga_swaras = \
    list(range(3201, 3201+3)) + \
    [3260] + \
    list(range(3262, 3277)) + \
    list(range(3278, 3287)) + \
    list(range(3298, 3300))

virama = 3277

In [ ]:
from pprint import pprint
pprint([(ch, chr(ch)) for ch in dheerga_swaras if is_valid_unicode(chr(ch))])

In [ ]:
a = 'ನಾ'
b = 'ದುಃಖ'
c = 'ನಿನಗೆನ್ನಾ'
for i in a:
    print(i)

print()

for i in b:
    print(i)

### Unicode to Character

In [ ]:
def yield_characters(string):
    for i in string:
        yield i

In [ ]:
def u2c(string):
    char_level_text = []
    current = []
    n = len(string)
    
    i=0
    while(i<n):
        character = string[i]
        current = []
        
        if(i+1<n and ord(string[i+1])==virama):
            current.append((string[i], string[i+1]))
            i+=2
        
        if(i<n and ord(string[i]) not in dheerga_swaras):
            current.append(string[i])
            i+=1
        
        if(i<n and ord(string[i]) in dheerga_swaras):
            current.append(string[i])
            i+=1
        
        print(current)
        char_level_text.append(current)
    return char_level_text

In [ ]:
c = 'ಚಿನ್ಮಯ'
u2c(c)

In [ ]:
def min_edit_distance_character_level(s: str, t: str) -> int:
    n = len(s)
    m = len(t)

    prev = [j for j in range(m+1)]
    curr = [0] * (m+1)
    
    table = []
    row_headings    = ['-'] + [st for st in s]
    column_headings = ['-'] + [st for st in t]

    for i in range(1, n+1):
        
        curr[0] = i
        for j in range(1, m+1):
#             print('Currently comparing:')
            
            if s[i-1] == t[j-1]:
                curr[j] = prev[j-1]
            else:
                cost_from_previous_row = len(s[i-1])
                cost_from_current_row  = len(t[j-1])
                
                mn = min(1 + prev[j], 1 + curr[j-1])
                curr[j] = min(mn, 2 + prev[j-1])
        
        table.append(prev)
        prev = curr.copy()
    
    table.append(curr)

    return prev[m], (table, row_headings, column_headings)

In [ ]:
min_edit_distance_character_level(u2c(FIRST_WORD), u2c(SECOND_WORD))

In [ ]:
for i in c:
    print(i)

In [ ]:
c = 'ನಿನಗೆನ್ನಾ'
char_level_text = u2c(c)

In [ ]:
char_level_text

In [ ]:
len(['ನ', ('್', 'ನ'), 'ಾ'])

# Akshara+Vottu Level MED

In [5]:
def min_edit_distance_char_fine(s: str, t: str) -> int:
    n = len(s)
    m = len(t)

#     prev = [j for j in range(m+1)]
    prev = [0]
    for i in range(m):
        prev.append(prev[i]+len(t[i]))

    curr = [0] * (m+1)
    
    table = []
    row_headings    = ['-'] + [st for st in s]
    column_headings = ['-'] + [st for st in t]

    for i in range(1, n+1):
        
        curr[0] = sum([len(j) for j in s[:i]])
        for j in range(1, m+1):
#             print('Currently comparing:')
            
            if s[i-1] == t[j-1]:
                curr[j] = prev[j-1]
            else:
                cost_from_previous_row = len(s[i-1])
                cost_from_current_row  = len(t[j-1])
                
                mn = min(cost_from_previous_row + prev[j], cost_from_current_row + curr[j-1])
                cost_of_replacing = len(s[i-1]) + len(t[j-1]) - 2 * len(set(s[i-1]) & set(t[j-1]))
                curr[j] = min(mn, cost_of_replacing + prev[j-1])
                
#                 print()
#                 print(s[i-1], t[j-1])
#                 print('Intersection', list(set(s[i-1]) & set(t[j-1])))
#                 print('Inside else:', '\ncost_from_previous_row', cost_from_previous_row, 
#                       '\ncost_from_current_row', cost_from_current_row,
#                       '\ncost_of_replacing', cost_of_replacing)
        
        table.append(prev)
        prev = curr.copy()
    
    table.append(curr)

    return prev[m], (table, row_headings, column_headings)

In [ ]:
FIRST_WORD = words[0]
SECOND_WORD = words[1]

In [ ]:
MED2, t2 = min_edit_distance_char_fine(u2c(FIRST_WORD), u2c(SECOND_WORD))
MED1, t1 = min_edit_distance(FIRST_WORD, SECOND_WORD)

In [ ]:
FIRST_WORD

In [ ]:
SECOND_WORD

In [ ]:
indices = []
print(t2[1])
for i in t2[1]:
    temp = ''
    for j in i:
        if isinstance(j, tuple):
            for k in j:
                temp += k
        else:
            temp += j
    indices.append(temp)
indices

In [ ]:
col_indices = []
print(t2[2])
for i in t2[2]:
    temp = ''
    for j in i:
        if isinstance(j, tuple):
            for k in j:
                temp += k
        else:
            temp += j
    col_indices.append(temp)
col_indices

In [ ]:
df = pd.DataFrame(t2[0], index=indices, columns=col_indices)
df

In [ ]:
FIRST_WORD, SECOND_WORD

In [ ]:
for first_word in words:
    for second_word in words:
        MED2, t2 = min_edit_distance_char_fine(u2c(first_word), u2c(second_word))

        indices = []
#         print(t2[1])
        for i in t2[1]:
            temp = ''
            for j in i:
                if isinstance(j, tuple):
                    for k in j:
                        temp += k
                else:
                    temp += j
            indices.append(temp)

        col_indices = []
#         print(t2[2])
        for i in t2[2]:
            temp = ''
            for j in i:
                if isinstance(j, tuple):
                    for k in j:
                        temp += k
                else:
                    temp += j
            col_indices.append(temp)

        df = pd.DataFrame(t2[0], index=indices, columns=col_indices)
        display(df)
        print()

In [ ]:
path = one_path(t[0]) 

first_string_path, second_string_path = zip(*path)
print(first_string_path, second_string_path)

first_align = alignment(u2c(FIRST_WORD), first_string_path)
second_align = alignment(u2c(SECOND_WORD), second_string_path)

df = pd.DataFrame([first_align, second_align])
df

In [ ]:
print(words)
for i in words:
    for j in words:
        print(i, j ,min_edit_distance_char_fine(i, j)[0])

In [ ]:
list1 = ['ನ', 'ೀ'] 
list2 =['ನ', 'ಾ']

intersection = list(set(list1) & set(list2))
print(intersection)

In [ ]:
len(set(list2) & set(list1))

In [6]:
a = 'ಪುಸ್ತಕ'
b = 'ಮಸ್ತಕ'

min_edit_distance_char_fine(a, b)

(3,
 ([[0, 1, 2, 3, 4, 5],
   [1, 2, 3, 4, 5, 6],
   [2, 3, 4, 5, 6, 7],
   [3, 4, 3, 4, 5, 6],
   [4, 5, 4, 3, 4, 5],
   [5, 6, 5, 4, 3, 4],
   [6, 7, 6, 5, 4, 3]],
  ['-', 'ಪ', 'ು', 'ಸ', '್', 'ತ', 'ಕ'],
  ['-', 'ಮ', 'ಸ', '್', 'ತ', 'ಕ']))